body {
    margin: 0;
    padding: 0;
}

.line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 100px;
    background: transparent;
    border-radius: 50%;
    border-bottom: 10px solid #000;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.ball {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 50%;
    animation: bounce 2s linear infinite;
}

@keyframes bounce {
    0% {
        top: calc(50% + 45px);
    }

    25% {
        top: calc(50% - 100px);
    }

    50% {
        top: calc(50% - 55px);
    }

    75% {
        top: calc(50% - 90px);
    }

    100% {
        top: calc(50% + 45px);
    }
}